*{
	
	margin: 0px;
	padding: 0px
}

 header .data{
   
	background-image:url(../images/11.jpg);
	background-size: cover;
 	
	
}

header .vv{
	
	margin-left: 80px;
}

@media (max-width:575px) {
	header .vv{
	
		margin-left: 40px

	}
	

}

	
header .vv .wa{
	
	font-size: 2.5rem;
	font-family: cursive;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer;
	color: goldenrod
	
}

header .vv .wa:hover{
	
      color: goldenrod
}


@media (max-width:575px) {
	header .wa{
	
		font-size: 2.5rem

	}
	

}


header .am{
	
	font-size: 1.5rem;
	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer
	
	
	
}
header .as{
	
	font-size: 1.5rem;
	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer
	
	
	
}
header .av{
	
	font-size: 1.5rem;
	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer
	
	
	
}
header .ax{
	
	font-size: 1.5rem;
	font-family: sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	cursor: pointer
	
}

header .bb{
	
	margin-right: 150px;
	margin-top: 40px
}

@media (max-width:575px) {
	header .bb{
	
		margin-right: 0px

	}
	
}

header .data .p p {

	padding-top: 250px;
	text-align: center;
	font-size: 4rem;
	text-transform: capitalize;
	font-family:fantasy;
	color:white;

}

@media (max-width:575px) {
	header .data .p p{
	
		font-size: 3rem

	}
	
}


.btn{
	
	margin-bottom: 100px;
	font-family: cairo;
	font-weight: bold;
	text-transform: capitalize;
}


.top{
	
	position: fixed;
	right: 40px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 100;
}

.one img {

	height: 500px;
	width: 500px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 50px;
	
}


@media (max-width:575px) {
	 .one img {

		height: 300px;
		width: 300px;
		margin-bottom: 0px
	}

}

@media (max-width:590px) {
	.one img {

		height: 300px;
		width: 270px;
		margin-bottom: 0px
	}

}

@media (max-width:1030px) {
	.one img {

		height: 300px;
		width: 270px;
		margin-bottom: 0px
	}

}


.one h1 {

	margin-top: 100px;
	color: #253048;
	font-size: 36px;
	opacity: 1;
	visibility: visible;
}
@media (max-width:1030px) {
	.one h1 {

		margin-top: 50px;

	}

}


.one p {

	font-family: cairo;
	color: #c1ab84;
	font-size: 1.3rem
}

.one span {

	color: #686868
}

.one ul {

	list-style: none;
	margin-top: 50px
}

.two .text p {

	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	padding-top: 100px;
	;
	padding-bottom: 40px
}

.two .text span {

	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: sans-serif;
	color: #606060;
	line-height: 1.86em;

}

.two .images img {

	height: 300px;
	width:  300px;
	margin-top: 100px;
	cursor: pointer
}

@media (max-width:590px) {
	.two .images img {

		height: 260px;
		width: 260px;
		
	}

}
@media (max-width:575px) {
	.two .images img {

		height: 260px;
		width: 260px;
		
	}

}
@media (max-width:1030px) {
	.two .images img {

		height: 280px;
		width: 230px;
		
	}

}


.two p {

	font-size: 1.5rem;
	font-family: cairo;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 40px
}

.three .text p {

	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	padding-top: 100px;
	;
	padding-bottom: 40px
}

.three .text span {

	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: sans-serif;
	color: #606060;
	line-height: 1.86em;

}

.three .images img {

	height: 300px;
	width:  300px;
	margin-top: 100px;
	cursor: pointer;
	margin-bottom: 50px
}

@media (max-width:575px) {
	.three .images img {

		height: 260px;
		width: 260px;
		
	}

}

@media (max-width:590px) {
	.three .images img {

		height: 260px;
		width: 260px;
		
	}

}
@media (max-width:1030px) {
	.three .images img {

		height: 280px;
		width: 230px;
		
	}

}

.four{
	
	margin-top: 100px
}

.four img {

	height: 500px;
	width: 500px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 50px;
	
}


@media (max-width:575px) {
	.four img {

		height: 300px;
		width: 300px;
		margin-bottom: 0px
	}

}

@media (max-width:590px) {
	.four img {

		height: 300px;
		width: 270px;
		margin-bottom: 0px
	}

}

@media (max-width:1030px) {
	.four img {

		height: 300px;
		width: 270px;
		margin-bottom: 0px;
		margin-top: 100px
	}

}

.four h1 {

	margin-top: 100px;
	color: #253048;
	font-size: 36px;
	opacity: 1;
	visibility: visible;
}
@media (max-width:1030px) {
	.four h1 {
 
		font-size: 40px

	}

}

.four p {

	font-family: cairo;
	color: #c1ab84;
	font-size: 1.3rem
}

.four span {

	color: #686868
}

.four ul {

	list-style: none;
	margin-top: 50px
}
.five {
	
	margin-top: 100px
}

.five img {

	height: 500px;
	width: 500px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 50px;
	
}


@media (max-width:575px) {
	.five img {

		height: 300px;
		width: 300px;
		margin-bottom: 0px
	}

}

@media (max-width:590px) {
	.five img {

		height: 300px;
		width: 270px;
		margin-bottom: 0px
	}

}
@media (max-width:1030px) {
	.five img {

		height: 300px;
		width: 250px;
		margin-bottom: 0px;
		margin-top: 120px
	}

}



.five h1 {

	margin-top: 100px;
	color: #253048;
	font-size: 36px;
	opacity: 1;
	visibility: visible;
}
@media (max-width:1030px) {
	.five h1 {

		 font-size: 40px;
		
	}

}

.five p {

	font-family: cairo;
	color: #c1ab84;
	font-size: 1.3rem
}

.five span {

	color: #686868
}

.five ul {

	list-style: none;
	margin-top: 50px
}

.six {
	
	margin-top: 100px
}

.six img {

	height: 500px;
	width: 500px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 50px;
	
}


@media (max-width:575px) {
	.six  img {

		height: 300px;
		width: 300px;
		margin-bottom: 0px
	}

}

@media (max-width:590px) {
	.six  img {

		height: 300px;
		width: 270px;
		margin-bottom: 0px
	}

}
@media (max-width:1030px) {
	.six  img {

		height: 300px;
		width: 250px;
		margin-bottom: 0px;
		margin-top: 100px
	}

}


.six  h1 {

	margin-top: 100px;
	color: #253048;
	font-size: 36px;
	opacity: 1;
	visibility: visible;
}

.six  p {

	font-family: cairo;
	color: #c1ab84;
	font-size: 1.3rem
}

.six  span {

	color: #686868
}

.six  ul {

	list-style: none;
	margin-top: 50px
}
.seven {
	
	margin-top: 100px
}

.seven img {

	height: 500px;
	width: 500px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 50px;
	
}


@media (max-width:575px) {
	.seven  img {

		height: 300px;
		width: 300px;
		margin-bottom: 0px
	}

}

@media (max-width:590px) {
	.seven  img {

		height: 300px;
		width: 270px;
		margin-bottom: 0px
	}

}
@media (max-width:1030px) {
	.seven  img {

		height: 300px;
		width: 250px;
		margin-bottom: 0px;
		margin-top: 120px
	}

}


.seven  h1 {

	margin-top: 100px;
	color: #253048;
	font-size: 36px;
	opacity: 1;
	visibility: visible;
}

.seven  p {

	font-family: cairo;
	color: #c1ab84;
	font-size: 1.3rem
}

.seven  span {

	color: #686868
}

.seven ul {

	list-style: none;
	margin-top: 50px
}

.eight{
	
	margin-top: 100px;
	margin-bottom: 100px
}

.eight h2 {

	font-size: 3rem;
	font-family: cairo;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	padding-bottom: 50px
}

.eight p {

	padding-bottom: 100px;
	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: sans-serif;
	color: #606060;
	line-height: 1.86em;
	text-align: center;

}



.eight span {

	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: sans-serif;
	color: #606060;
	line-height: 1.86em;
	
	

}

.eight .images img {

	height: 300px;
	width: 300px;
	margin-top: 100px;
	cursor: pointer;
	margin-bottom: 30px
}
@media (max-width:590px) {
	.eight  .images img {

		height: 300px;
		width: 270px;
		
	}

}
@media (max-width:1030px) {
	.eight  .images img {

		height: 300px;
		width: 230px;
		
	}

}

.nine p{
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	font-family: monospace;
	text-transform: capitalize;
	margin-bottom: 70px;
	margin-top: 40px
	
}

.nine .container{
	
	margin-bottom: 50px
}

.ten {

	background-image: url(../images/8.jpg);
	background-size: cover;
}

.ten .text p {

	font-size: 3.5rem;
	font-family: tahoma;
	font-weight: 500;
	text-transform: capitalize;
	padding-top: 250px;
	color: goldenrod;
	text-align: center;


}


.ten .text span {

	font-size: 1.7rem;
	text-transform: capitalize;
	font-family: sans-serif;
	line-height: 1.86em;
	color: goldenrod;
	font-weight: bold
	
	
}

@media (max-width:1300px) {
	.ten .text span  {

		margin-left: 10px
	}

}


.ten .text .btn{
	margin-top: 100px;
	margin-bottom: 300px;
	height: 70px;
	width: 130px;
	color: white;
	border: solid 2px white;
	font-weight: bold;
	transition: 1s all;
	cursor: pointer;
	padding-top: 20px

}

.ten .text .btn:hover {

	background-color: white;
	color: black;

}

eleven {

	background: #f8f8f8
}

.eleven .map iframe {
	height: 550px;
	width: 600px;
	margin-bottom: 50px
}

@media (max-width:575px) {
	.eleven .map iframe {

		height: 300px;
		width: 230px
	}

}
@media (max-width:1030px) {
	.eleven .map iframe {

		height: 300px;
		width: 300px;
		margin-top: 120px
	}

}


.eleven p {

	font-size: 2.5rem;
	font-weight: bold;
	font-family: cairo;
	text-transform: capitalize;
	text-align: center;
	margin-top: 100px;
}

.eleven .des {

	margin-top: 100px
}

.eleven .des h1 {

	font-size: 2rem;
	font-family: Alegreya Sans;
	padding-top: 50px
}

.eleven .des p {

	font-size: 1rem;
	margin-top: 30px;
	font-family: Alegreya Sans;
	color: #686868
}

.eleven .des span {
	font-family: Alegreya Sans;
	color: #686868;
	font-size: 1.3rem
}

.eleven .des ul {

	list-style: none
}

.eleven ul li {

	margin: 10px
}

footer{
	
	background:#343a40
}

footer a{
	
	color: white;
}

footer p {
	
	color: red;
	
}





